
## 当前时间
#macro(now)
    $dateTool.get('yyyy-M-d H:m:s')
#end

## 时间长格式化
#macro(dateLFormat $date)##
	$!dateTool.format('yyyy-MM-dd HH:mm:ss', $date)##
#end##

## 时间长格式化
#macro(dateSFormat $date)##
	$!dateTool.format('yyyy-MM-dd', $date)##
#end##